.m-logo {
  display: inline-block;
  
  img {
    width: auto;
    max-width: 150px;
    height: 50px;
    object-fit: contain;
  }

  &.in-mobile-topbar {
    height: 50px;
    margin: 0 $mobile-space;
  }
}
